
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">

    <title>Home</title>
    <meta content="width=device-width, initial-scale=1.0" name="viewport">
    <meta content="" name="description">
    <meta content="http://webthemez.com" name="author">
    <!-- css -->
    <link href="static/css/bootstrap.min.css" rel="stylesheet">
    <link href="static/css/fancybox/jquery.fancybox.css" rel="stylesheet">
    <link href="static/css/jcarousel.css" rel="stylesheet">
    <link href="static/css/flexslider.css" rel="stylesheet">
    <link href="static/js/owl-carousel/owl.carousel.css" rel="stylesheet">
    <link href="static/css/style.css" rel="stylesheet">
    <!-- HTML5 shim, for IE6-8 support of HTML5 elements -->
    <!--[if lt IE 9]>
      <script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
    <![endif]-->
</head>

<body>
     <a href="login_register"></a>
     
    <div class="home-page" id="wrapper">
        <!-- start header -->

        <header>
            <div class="navbar navbar-default navbar-static-top">
                <div class="container">
                    <div class="navbar-header">
                        <button class="navbar-toggle" data-target=".navbar-collapse" data-toggle="collapse"
                            type="button"><span class="icon-bar"></span> <span class="icon-bar"></span> <span
                                class="icon-bar"></span></button> 
                                <!---
                                <a class="navbar-brand" href="index.html"><img
                                alt="logo" src="img/logo.png"></a>
                                -->
                    </div>

                    <div class="navbar-collapse collapse">
                        <ul class="nav navbar-nav">
                            <li class="active">
                                <a href="indexaflogin">Home</a>
                            </li>

                            <li>
                                <a href="disease">Disease</a>
                            </li>

                            <li>
                                <a href="dashboard">Dashboard</a>
                            </li>

                            <li>
                                <a href="feedbacklog">Feedback</a>
                            </li>

                            <li>
                                <a href="about">About Us</a>
                            </li>

                            <li>
                                <a href="contactlog">Contact us</a>
                            </li>
                            <li>
                                <a href="handellogout">logout</a>
                            </li>
                            
                        </ul>
                    </div>
                </div>
            </div>
        </header><!-- end header -->

        <section id="banner">
            <!-- Slider -->

            <div class="flexslider" id="main-slider">
                <ul class="slides">
                    <li>
                        <img alt="" src="static/img/slides/3.jpg">

                        <div class="flex-caption wow fadeInLeft animated" data-wow-animation-name="none">
                            <h2>Nutritional support</h2>

                            <p>Get your diet here with proper plan</p>
                        </div>
                    </li>

                    <li>
                        <img alt="" src="static/img/slides/4.jpg">

                        <div class="flex-caption wow fadeInRight animated " data-wow-animation-name="none">
                            <h2>Healthy Life</h2>

                            <p>Healthy life should be your first priority</p>
                        </div>
                    </li>
                </ul>
            </div><!-- end slider -->
        </section>

        <section class="hero-text">
            <div class="container">
                <div class="row">
                    <div class="col-lg-6 col-sm-6 text-center wow fadeInLeft animated" data-wow-animation-name="none">
                        <img alt="" src="static/img/wlm.jpg">
                    </div>

                    <div class="col-lg-6 col-sm-6 wow fadeInRight animated" data-wow-animation-name="none">
                        <h1>A healthy diet includes the followings:</h1>
                        <hr>

                        <p><i class="fa fa-check fa-lg pr-10"></i> Fruit, vegetables, legumes
                            (e.g. lentils and beans), nuts and whole grains
                            (e.g. unprocessed maize, millet, oats, wheat
                            and brown rice).
                            At least 400 g (i.e. five portions) of fruit and vegetables per day (2),
                            excluding potatoes, sweet potatoes, cassava and
                            other starchy roots.</p><br />

                        <p><i class="fa fa-check fa-lg pr-10"></i> Less than 10% of total energy intake from free sugars
                            (2, 7), which is equivalent to 50 g (or about 12 level teaspoons)
                            for a person of healthy body weight consuming about 2000 calories per day, but ideally is
                            less than 5% of total energy
                            intake for additional health benefits (7). Free sugars are all sugars added to foods or
                            drinks by the manufacturer, cook
                            or consumer, as well as sugars naturally present in honey, syrups, fruit juices and fruit
                            juice concentrates.m</p><br />

                        <p><i class="fa fa-check fa-lg pr-10"></i> Less than 30% of total energy intake from fats (1, 2,
                            3). Unsaturated fats (found in fish, avocado and nuts, and in
                            sunflower, soybean, canola and olive oils) are preferable to saturated fats (found in fatty
                            meat, butter, palm and
                            coconut oil, cream, cheese, ghee and lard) and trans-fats of all kinds, including both
                            industrially-produced trans-fats
                            (found in baked and fried foods, and pre-packaged snacks and foods, such as frozen pizza,
                            pies, cookies, biscuits,
                            wafers, and cooking oils and spreads) and ruminant trans-fats (found in meat and dairy foods
                            from ruminant animals, such
                            as cows, sheep, goats and camels). It is suggested that the intake of saturated fats be
                            reduced to less than 10% of
                            total energy intake and trans-fats to less than 1% of total energy intake (5). In
                            particular, industrially-produced
                            trans-fats are not part of a healthy diet and should be avoided (4, 6)..</p>
                        <hr>
                        <!--- <a class="btn btn-purchase" href=
                        "javascript:;">Purchase now</a> -->
                    </div>
                </div>
            </div>
        </section>

        <section id="content">
            <div class="container">
                <div class="row">
                    <div class="col-md-12">
                        <div class="aligncenter">
                            <h2 class="aligncenter">Why Nutrition is Important?</h2>The secret to why nutrition is
                            essential for people is in the word itself – nutrition comes from nutrients. Nutrients
                            are the good things that we get through food which we need to nourish and nurture ourselves,
                            and to be happy and healthy people.
                            In scientific terms, nutrition is the supply of food that we need as an organism to feed our
                            cells and keep them alive.
                            We can get nutrients from products such as vitamin supplements, however when we talk about
                            nutrition we mostly mean the
                            nutrients we get from food.

                        </div><br>
                    </div>
                </div>
            </div>
    </div>
    </div>
    </div>
    </section>

    <footer>
        <div class="container">
            <div class="row">
                <div class="col-lg-3">
                    <div class="widget">
                        <h5 class="widgetheading">Our Contact</h5>

                        <address>
                            <strong>Nutritional Support</strong><br>
                            nutritional support for post recovery<br>
                        </address>

                        <p><i class="icon-phone"></i> (+91)8454826658
                            (+91)1234768890<br>
                            <i class="icon-envelope-alt"></i>
                            nutritionalsupport@gmail.com
                        </p>
                    </div>
                </div>

                <div class="col-lg-3">
                    <div class="widget">
                        <h5 class="widgetheading">Quick Links</h5>

                        <ul class="link-list">
                            <li>
                                <a href="#">Latest Events</a>
                            </li>

                            <li>
                                <a href="#">Terms and conditions</a>
                            </li>

                            <li>
                                <a href="#">Privacy policy</a>
                            </li>

                            <li>
                                <a href="#">Career</a>
                            </li>

                            <li>
                                <a href="#">Contact us</a>
                            </li>
                        </ul>
                    </div>
                </div>

                <div class="col-lg-3">
                    <div class="widget">
                        <h5 class="widgetheading">Latest posts</h5>

                        <ul class="link-list">
                            <li>
                                <a href="#">Lorem ipsum dolor sit amet,
                                    consectetur adipiscing elit.</a>
                            </li>

                            <li>
                                <a href="#">Pellentesque et pulvinar enim.
                                    Quisque at tempor ligula</a>
                            </li>

                            <li>
                                <a href="#">Natus error sit voluptatem
                                    accusantium doloremque</a>
                            </li>
                        </ul>
                    </div>
                </div>

                <div class="col-lg-3">
                    <div class="widget">
                        <h5 class="widgetheading">Recent News</h5>

                        <ul class="link-list">
                            <li>
                                <a href="#">Lorem ipsum dolor sit amet,
                                    consectetur adipiscing elit.</a>
                            </li>

                            <li>
                                <a href="#">Pellentesque et pulvinar enim.
                                    Quisque at tempor ligula</a>
                            </li>

                            <li>
                                <a href="#">Natus error sit voluptatem
                                    accusantium doloremque</a>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
        
    </footer>
    </div><a class="scrollup fa fa-angle-up active" href="#" style="font-style: italic"></a>
    <!-- javascript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
    <script src="static/js/jquery.js"></script>
    <script src="static/js/jquery.easing.1.3.js"></script>
    <script src="static/js/bootstrap.min.js"></script>
    <script src="static/js/jquery.fancybox.pack.js"></script>
    <script src="static/js/jquery.fancybox-media.js"></script>
    <script src="static/js/portfolio/jquery.quicksand.js"></script>
    <script src="static/js/portfolio/setting.js"></script>
    <script src="static/js/jquery.flexslider.js"></script>
    <script src="static/js/animate.js"></script>
    <script src="static/js/custom.js"></script>
    <script src="static/js/owl-carousel/owl.carousel.js"></script>

    
    </body>
</html>